<ion-menu side="start" content-id="main-content">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <app-menu-h></app-menu-h>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Mensajes</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Nombre del curso</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-label>Mensajse del curso</ion-label>
            </ion-card-content>

        </ion-card>
    </ion-content>
</div>