<ion-menu side="start" content-id="main-content">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <app-menu-h></app-menu-h>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Panel de control</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item color="secondary">
            <ion-label>Crea un curso</ion-label>
            <ion-button (click)="mostrarform()" *ngIf="blnmostarcurso==false">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="ocultarform()" *ngIf="blnmostarcurso==true">
                <ion-icon slot="icon-only" name="close-circle">
                </ion-icon>
            </ion-button>
        </ion-item>
        <div *ngIf="blnmostarcurso==true">
            <form #myform="ngForm" (ngSubmit)="registarCurso(myform)">
                <ion-item>
                    <ion-label position="floating">Nombre del curso</ion-label>
                    <ion-input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="course.nameCourse" required></ion-input>
                </ion-item>
                <div *ngIf="nombre.invalid&&nombre.touched">
                    <ion-text color="danger">Ingrese un nombre</ion-text>
                </div>
                <ion-item>
                    <ion-label position="floating">Tema del curso</ion-label>
                    <ion-input type="text" name="tema" #tema="ngModel" [(ngModel)]="course.topicCourse" required></ion-input>
                </ion-item>
                <div *ngIf="tema.invalid&&tema.touched">
                    <ion-text color="danger">Ingrese un tema</ion-text>
                </div>
                <ion-item>
                    <ion-label position="floating">Descirpción del curso</ion-label>
                    <ion-textarea name="des" #des="ngModel" [(ngModel)]="course.descriptionCourse" required></ion-textarea>
                </ion-item>
                <div *ngIf="des.invalid&&des.touched">
                    <ion-text color="danger">Ingrese una descrtpción</ion-text>
                </div>
                <div>
                    <ion-list>
                        <ion-item>
                            <ion-label>Dias del curso</ion-label>
                            <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar" name="days" #days="ngModel" [(ngModel)]="course.days" required>
                                <ion-select-option value="Lunes">Lunes</ion-select-option>
                                <ion-select-option value="Martes">Martes </ion-select-option>
                                <ion-select-option value="Miercoles">Miercoles</ion-select-option>
                                <ion-select-option value="Jueves">Jueves</ion-select-option>
                                <ion-select-option value="Viernes">Viernes</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <div *ngIf="days.invalid&&days.touched">
                        <ion-text color="danger">Ingrese los dias del curso</ion-text>
                    </div>
                </div>
                <ion-item>
                    <ion-label>Fecha del curso</ion-label>
                    <ion-datetime name="date" #date="ngModel" [(ngModel)]="course.date" required></ion-datetime>
                </ion-item>
                <div *ngIf="date.invalid&&date.touched">
                    <ion-text color="danger">Ingrese una fecha</ion-text>
                </div>
                <ion-item>
                    <ion-label>Hora del curso</ion-label>
                    <ion-datetime display-format="h:mm A" picker-format="h:mm A" name="hour" #hour="ngModel" [(ngModel)]="course.hour" required></ion-datetime>
                </ion-item>
                <div *ngIf="hour.invalid&&hour.touched">
                    <ion-text color="danger">Ingrese una hora</ion-text>
                </div>
                <ion-item>
                    <ion-label position="floating">Lugar del curso</ion-label>
                    <ion-input type="text" name="place" #place="ngModel" [(ngModel)]="course.place" required></ion-input>
                </ion-item>
                <div *ngIf="place.invalid&&place.touched">
                    <ion-text color="danger">Ingrese un lugar</ion-text>
                </div>
                <div>
                    <ion-button type="submit" [disabled]="!myform.valid" expand="full" color="primary" shape="round">
                        Crear
                    </ion-button>
                </div>
                <div>
                    <ion-button (click)="ocultarform()" expand="full" color="danger" shape="round">
                        Cancelar
                    </ion-button>
                </div>
            </form>
        </div>
        <div>
            <h1>No tienes cursos ¡Únete o crea uno!</h1>
        </div>
        <div #show>
            <ion-list>
                <div>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Nombre del curso</ion-card-title>
                            <ion-card-subtitle>Nombre del responsable</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <div>
                                <ion-label>Lugar y horario</ion-label>
                                <ion-textarea></ion-textarea>
                                <ion-button expand="full" shape="round">Enviar</ion-button>
                            </div>
                            <div>
                                <ion-button (click)="dejarTarea()" shape="round" expand="full">Dejar una tarea</ion-button>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-list>
        </div>
    </ion-content>
</div>