<ion-menu side="start" content-id="main-content">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <app-menu-h></app-menu-h>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Mis cursos</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div>
            <ion-button (click)="opencursos()" shape="round" expand="full">
                Unirme aun curso
            </ion-button>
        </div>
        
        <div>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Nombre del curso</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div>
                        <ion-button (click)="obtenermiscursos()" color="danger" shape="round" expand="full">
                            Abandonar curso
                        </ion-button>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        <ng-template>
            <h2>No tienes cursos ¡Únete a uno!</h2>
        </ng-template>


    </ion-content>
</div>