<div>
    <div class="ion-text-center">
        <img src={{image}} alt="" class="img">
    </div>
    <ion-item>
        <ion-button color="dark" (click)="gotoperfil()" expand="full">
            <ion-icon slot="start" name="person"></ion-icon>
            Perfil
        </ion-button>
    </ion-item>
    <ion-item>
        <ion-button color="danger" expand="full" (click)="cerrarsesion()">
            <ion-icon slot="start" name="close-circle"></ion-icon>
            Cerrar sesión
        </ion-button>
    </ion-item>

</div>